<div id="welcome-container">
  <div id="welcome-content-container">
    <img src="assets/images/Poke_Ball.png" width="175" height="175" />
    <div id="welcome-text-container">
      <h1>Pokémon Trainer</h1>
      <h3>Get started</h3>
    </div>
  </div>
</div>
