<div *ngIf="OwnesPokemon" class="poke-gallery" (scroll)="onScroll()">
  <app-poke-container *ngFor="let p of pokemon" [pokemon]="p">
  </app-poke-container>
</div>

<div *ngIf="!OwnesPokemon" class="catch-pokemon-text">
  Catch some Pokémons by clicking on them on the catalogue page
</div>
