<header id="top-header">
  <div id="header-content-container">
    <div id="header-text-icon-container">
      <img
        *ngIf="trainerLoggedIn"
        src="assets/images/Poke_Ball.png"
        width="50"
        height="50"
      />
      <span
        *ngIf="trainerLoggedIn"
        class="header-text"
        id="header-text-hover"
        (click)="onHeaderTitleClick()"
      >
        {{ headerTitle }}
      </span>

      <span *ngIf="!trainerLoggedIn" class="header-text">
        {{ headerTitle }}
      </span>
    </div>

    <div *ngIf="trainerLoggedIn && !onTrainerPage" id="profile-container">
      <span id="Username-span">{{ trainerName }}</span>
      <app-button
        icon="person"
        color="#E7B355"
        (clickEmitter)="onProfileButtonClick()"
      ></app-button>
    </div>

    <div *ngIf="trainerLoggedIn && onTrainerPage" id="profile-container">
      <span id="Username-span">{{ trainerName }}</span>
      <app-button
        icon="logout"
        color="#E7B355"
        (clickEmitter)="onLogoutButtonClick()"
      ></app-button>
    </div>
  </div>
</header>
