.RoundedButton {
  border-radius: 50%;
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#button-icon {
  font-size: 2rem;
}
.RoundedButton:hover {
  cursor: pointer;
}

.RoundedButton:active {
  color: gold;
  width: 3.5rem;
  height: 3rem;
}
.RoundedButton:disabled {
  opacity: 0.3;
}
