<app-input class="poke-gallery-search" [placeHolder]="'search'" id="search" icon="search"
           (onSubmitFunction)="filterPokemon($event)"
           name="pokemonSearch" [required]="false" minlength="0">

</app-input>
<div class="poke-gallery" (scroll)="onScroll()">
  <app-poke-container *ngFor="let p of pokemon" [pokemon]="p">
  </app-poke-container>
</div>
