.poke-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
  max-width: 275px;
}

.notOwned {
  background-image: linear-Gradient(
    to bottom,
    rgba(0, 0, 0, 0) 85%,
    #ffc75f 0%
  );
}

.owned {
  background-image: linear-Gradient(
    to bottom,
    rgba(0, 0, 0, 0) 85%,
    #ef3e33 0%
  );
}

.poke-card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.poke-card-container:hover {
  box-shadow: 0 8px 16px 0 #ef3e33;
  cursor: pointer;
}

.poke-description {
  font-size: 2rem;
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
}
