* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: 0;
  width: 100%;
}

.poke-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 50rem;
  width: 80%;
  margin: auto;
  margin-top: 0.5rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
