#input-container {
  background: #efefef;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  border-radius: 2.5rem;
  border: 0.2rem solid #969696;
  max-width: 50rem;
  margin: auto;
}

#input-icon-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#keyboard-icon {
  font-size: 2.5rem;
  padding-left: 0.5rem;
}

#keyboard-separator {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: serif;
  text-align: center;
  border-left: 0.15rem solid black;
  height: 2rem;
  margin: 0 0.65rem 0 0.5rem;
}

.username-input {
  border: none;
  background-color: #efefef;
  color: #969696;
  font-size: 1.25rem;
  width: 100%;
}

.username-input:focus {
  outline: none;
}

#userForm {
  width: 100%;
  padding: 0.5rem;
  padding-left: 0;
}
