<div id="input-container">
  <span id="keyboard-icon" class="material-icons">keyboard</span>
  <form id="userForm" #formElement="ngForm" (ngSubmit)="onSubmit(formElement)">
    <div id="input-icon-container">
      <div id="keyboard-separator"></div>
      <fieldset>
        <input
          autofocus
          class="username-input"
          type="text"
          ngModel
          #output="ngModel"
          name="{{ name }}"
          id="{{ id }}"
          placeholder="{{ placeHolder }}"
          required="{{required}}"
          minlength="{{minlength}}"
          maxlength="20"
        />
      </fieldset>

      <app-button
        type="submit"
        icon="{{ icon }}"
        color="#ef3e33"
        [disable]="!formElement.form.valid"
      ></app-button>
    </div>
  </form>
</div>
